*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Courier New", monospace;
    color:white;
}

body{
    background:#111;
    background-size:24px 24px;
    padding:40px;
}

main{
    max-width:1000px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:30px;
}

header{
    text-align:center;
    margin-bottom:40px;
}

h1{
    font-family:"Barrio",system-ui;
    font-size:52px;
    color:#ff2b2b;
    margin-bottom:15px;
    text-shadow:
        0 0 8px red,
        0 0 20px darkred;
}

h2{
    margin-bottom:15px;
    color:#ff4040;
}

h4{
    margin-bottom: 20px;
}

p{
    color:#ff8f6d;
    line-height:1.7;
    text-shadow:0 0 5px rgba(255,120,120,.5);
}

img{
    width:100%;
    object-fit:cover;
    border:2px solid red;

    filter:
        grayscale(100%)
        contrast(140%)
        brightness(.8)
        sepia(.5)
        hue-rotate(-30deg)
        saturate(500%);

    transition:.2s;
}

img:hover{
    transform:translateY(-10px);
}

.hero img{
    max-height:500px;
}

.card{
    background:#161616;
    border:2px solid #ff2b2b;
    padding:18px;
}

.card ul{
    margin-left:20px;
    line-height:1.8;
}

li a{
    text-decoration:none;
}

li a:hover{
    text-decoration:underline;
}

button{
    margin-top:10px;
    padding:12px 24px;
    background:#d6452b;
    border:1px solid #ff8b63;
    cursor:pointer;
    font-weight:bold;
    transition:.25s;
}

button:hover{
    background:#7e1f00;
    box-shadow:0 0 10px red;
}

.games{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:15px;
}

.game{
    text-align:center;
}

.game img{
    height:180px;
}

.game p{
    margin-top:12px;
    color:#ff6d6d;
    transition:.3s;
}

.game:hover img{
    transform:rotate(-2deg) translateY(-5px);
}

.game:hover p{
    transform:translateY(-5px);
    color:#fff;
}

footer{
    margin-top:50px;
    text-align:center;
    color:#ff6d6d;
}